# q

1.Write a Python program to convert kilometers to miles?

# ans

In [1]:
def conversion(dist):
    miles = dist * 0.621
    return miles

conversion(100)

62.1

# q

2.Write a Python program to convert Celsius to Fahrenheit?

# ans

In [3]:
def conversion(cels):
    fahr = (cels * 1.8) + 32
    return fahr
conversion(20)

68.0

# q

3.Write a Python program to display calendar?

# ans

In [5]:
import calendar

def calender():   
    print(calendar.calendar(2022,11))
    
calender()

                                                                                                                                 2022

                                      January                                                                                  February                                                                                  March
   Monday     Tuesday    Wednesday    Thursday     Friday     Saturday     Sunday           Monday     Tuesday    Wednesday    Thursday     Friday     Saturday     Sunday           Monday     Tuesday    Wednesday    Thursday     Friday     Saturday     Sunday
                                                                  1           2                            1           2           3           4           5           6                            1           2           3           4           5           6
      3           4           5           6           7           8           9                7           8           9          10          11          12          13                7           8           9          10          11          12          13
     10          11          12          13          14          15          16               14          15          16          17          18          19          20               14          15          16          17          18          19          20
     17          18          19          20          21          22          23               21          22          23          24          25          26          27               21          22          23          24          25          26          27
     24          25          26          27          28          29          30               28                                                                                       28          29          30          31
     31

                                       April                                                                                     May                                                                                      June
   Monday     Tuesday    Wednesday    Thursday     Friday     Saturday     Sunday           Monday     Tuesday    Wednesday    Thursday     Friday     Saturday     Sunday           Monday     Tuesday    Wednesday    Thursday     Friday     Saturday     Sunday
                                                      1           2           3                                                                                        1                                        1           2           3           4           5
      4           5           6           7           8           9          10                2           3           4           5           6           7           8                6           7           8           9          10          11          12
     11          12          13          14          15          16          17                9          10          11          12          13          14          15               13          14          15          16          17          18          19
     18          19          20          21          22          23          24               16          17          18          19          20          21          22               20          21          22          23          24          25          26
     25          26          27          28          29          30                           23          24          25          26          27          28          29               27          28          29          30
                                                                                              30          31

                                        July                                                                                    August                                                                                 September
   Monday     Tuesday    Wednesday    Thursday     Friday     Saturday     Sunday           Monday     Tuesday    Wednesday    Thursday     Friday     Saturday     Sunday           Monday     Tuesday    Wednesday    Thursday     Friday     Saturday     Sunday
                                                      1           2           3                1           2           3           4           5           6           7                                                    1           2           3           4
      4           5           6           7           8           9          10                8           9          10          11          12          13          14                5           6           7           8           9          10          11
     11          12          13          14          15          16          17               15          16          17          18          19          20          21               12          13          14          15          16          17          18
     18          19          20          21          22          23          24               22          23          24          25          26          27          28               19          20          21          22          23          24          25
     25          26          27          28          29          30          31               29          30          31                                                               26          27          28          29          30

                                      October                                                                                  November                                                                                 December
   Monday     Tuesday    Wednesday    Thursday     Friday     Saturday     Sunday           Monday     Tuesday    Wednesday    Thursday     Friday     Saturday     Sunday           Monday     Tuesday    Wednesday    Thursday     Friday     Saturday     Sunday
                                                                  1           2                            1           2           3           4           5           6                                                    1           2           3           4
      3           4           5           6           7           8           9                7           8           9          10          11          12          13                5           6           7           8           9          10          11
     10          11          12          13          14          15          16               14          15          16          17          18          19          20               12          13          14          15          16          17          18
     17          18          19          20          21          22          23               21          22          23          24          25          26          27               19          20          21          22          23          24          25
     24          25          26          27          28          29          30               28          29          30                                                               26          27          28          29          30          31
     31

# q

4.Write a Python program to solve quadratic equation?

# ans

In [7]:
import cmath
import math

def quadarticEquationRoots(a,b,c):
    
    discriminant = b*b-4*a*c
    
    if discriminant == 0:
        r1 = -b/2*a
        r2 = -b/2*a
        print("Roots are Real",r1,r2)
    elif discriminant > 0:
        r1 = (-b-math.sqrt(discriminant))/(2 * a)
        r2 = (-b+math.sqrt(discriminant))/(2 * a)
        print("Roots are Real and different",r1,r2)
    else:
        r1 = (-b-cmath.sqrt(discriminant))/(2 * a)
        r2 = (-b+cmath.sqrt(discriminant))/(2 * a)
        print("Roots are Imaginary",r1,r2)


a = int(input('Enter a value: '))
b = int(input('Enter b value: '))
c = int(input('Enter c value: '))

quadarticEquationRoots(a,b,c)

Enter a value: 2
Enter b value: 3
Enter c value: 5
Roots are Imaginary (-0.75-1.3919410907075054j) (-0.75+1.3919410907075054j)

# q

5.Write a Python program to swap two variables without temp variable?

# ans

In [15]:
a = 9
b = 4

a,b = b,a
print("After swapping, the varaiables are",str(a) +' and '+ str(b))

After swapping, the varaiables are 4 and 9