# q

Question 1:Create a function that takes a number as an argument and returns True or False depending

on whether the number is symmetrical or not. A number is symmetrical when it is the same as

its reverse.

Examples

is_symmetrical(7227) ➞ True

is_symmetrical(12567) ➞ False

is_symmetrical(44444444) ➞ True

is_symmetrical(9939) ➞ False

is_symmetrical(1112111) ➞ True

# ans

In [1]:
def is_symmetrical(user):
    if str(user) == str(user)[::-1]:
        print(f'{user} = {True}')
    else:
        print(f'{user} = {False}')

is_symmetrical(7227)
is_symmetrical(12567)
is_symmetrical(44444444)
is_symmetrical(9939)
is_symmetrical(1112111)

7227 = True
12567 = False
44444444 = True
9939 = False
1112111 = True

# q

Question 2:Given a string of numbers separated by a comma and space, return the product of the

numbers.

Examples

multiply_nums(&quot;2, 3&quot;) ➞ 6

multiply_nums(&quot;1, 2, 3, 4&quot;) ➞ 24

multiply_nums(&quot;54, 75, 453, 0&quot;) ➞ 0

multiply_nums(&quot;10, -2&quot;) ➞ -20

# ans

In [5]:
def multiply_nums(user):
    res = user.replace(' ','').split(',')
    output = 1
    for ele in res:
        output *= int(ele)
    print(f'the product of numbers: {user} are  {output}')
    
multiply_nums("2, 3")
multiply_nums("1, 2, 3, 4")
multiply_nums("54, 75, 453, 0")
multiply_nums("10, -2")

the product of numbers: 2, 3 are  6
the product of numbers: 1, 2, 3, 4 are  24
the product of numbers: 54, 75, 453, 0 are  0
the product of numbers: 10, -2 are  -20

# q

Question 3:Create a function that squares every digit of a number.

Examples

square_digits(9119) ➞ 811181

square_digits(2483) ➞ 416649

square_digits(3212) ➞ 9414

Notes

The function receives an integer and must return an integer.

# ans

In [7]:
def square_digits(user):
    in_list = [str(int(ele)**2) for ele in str(user)]
    result = ''.join(in_list)
    print(f'{user} = {int(result)}')

square_digits(9119)
square_digits(2483)
square_digits(3212)

9119 = 811181
2483 = 416649
3212 = 9414

# q

Question 4:Create a function that sorts a list and removes all duplicate items from it.

Examples

setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]

setify([4, 4, 4, 4]) ➞ [4]

setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]

setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]

# ans

In [8]:
def setify(inp):
    outp = sorted(set(inp))
    print(f'{inp} = {outp}')
    
setify([1, 3, 3, 5, 5]) 
setify([4, 4, 4, 4])
setify([5, 7, 8, 9, 10, 15])
setify([3, 3, 3, 2, 1])

[1, 3, 3, 5, 5] = [1, 3, 5]
[4, 4, 4, 4] = [4]
[5, 7, 8, 9, 10, 15] = [5, 7, 8, 9, 10, 15]
[3, 3, 3, 2, 1] = [1, 2, 3]

# q

Question 5:Create a function that returns the mean of all digits.

Examples

mean(42) ➞ 3

mean(12345) ➞ 3

mean(666) ➞ 6

Notes

 The mean of all digits is the sum of digits / how many digits there are (e.g. mean of digits in

512 is (5+1+2)/3(number of digits) = 8/3=2).

 The mean will always be an integer.

# ans

In [9]:
def mean(inp):
    box = [int(ele) for ele in str(inp)]
    out_num = sum(box) / len(str(inp))
    print(f'Mean of {inp}  = {out_num:.2f}')
    
mean(42)
mean(12345)
mean(666)

Mean of 42  = 3.00
Mean of 12345  = 3.00
Mean of 666  = 6.00