# q

1.Set the variable test1 to the string &#39;This is a test of the emergency text system,&#39; and save test1 to a
file named test.txt.

# ans

In [1]:
test1='This is a test of the emergency text system,'
with open('test.txt','w') as file:
    file.write(test1)
    file.close()

# q

2.Read the contents of the file test.txt into the variable test2. Is there a difference between test 1
and test 2?

# ans

In [4]:
read_file = open('test.txt', 'r')
test2 = read_file.readline()
print(test2)

if test1 == test2:
    print("test1 and test2 are both same")

This is a test of the emergency text system,
Both test1 and test2 are same

# q

3.Create a CSV file called books.csv by using these lines:
title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992

# ans

In [8]:
text='''title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992'''


with open('books.csv','w') as f:
    f.writelines(text)
    f.close()

# q

4.Use the sqlite3 module to create a SQLite database called books.db, and a table called books with
these fields: title (text), author (text), and year (integer).

# ans

In [1]:
import sqlite3

db=sqlite3.connect('books.db')
cursor=db.cursor()
cursor.execute('create table books ("title" text, "author" text, "year" int)')
db.commit()

# q

5.Read books.csv and insert its data into the book table.

# ans

In [2]:
import csv
with open("books.csv","r") as file:
    books = csv.DictReader(file)
    for book in books:
        cursor.execute(f'insert into books values(?,?,?)',(book['title'],book['author'],book['year']))
db.commit()

# q

6.Select and print the title column from the book table in alphabetical order.

# ans

In [3]:
cursor.execute('select title from books order by title asc')
cursor.fetchall()

[('Perdido Street Station',),
 ('Small Gods',),
 ('The Spellman Files',),
 ('The Weirdstone of Brisingamen',),
 ('Thud!',)]

# q

7.From the book table, select and print all columns in the order of publication.

# ans

In [4]:
cursor.execute('select * from books order by year asc')
cursor.fetchall()

[('The Weirdstone of Brisingamen', 'Alan Garner', 1960),
 ('Small Gods', 'Terry Pratchett', 1992),
 ('Perdido Street Station', 'China Miéville', 2000),
 ('Thud!', 'Terry Pratchett', 2005),
 ('The Spellman Files', 'Lisa Lutz', 2007)]

# q

8.Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in
exercise 6.

# ans

In [5]:
import sqlalchemy
db1 = sqlalchemy.create_engine('sqlite:///books.db')
db1

Engine(sqlite:///books.db)