# q

1.Create a list called years_list, starting with the year of your birth, and each year thereafter until
the year of your fifth birthday. For example, if you were born in 1980. the list would be years_list =
[1980, 1981, 1982, 1983, 1984, 1985].

# ans

In [3]:
years_list=[ i for i in range(1999,2005)]
years_list

[1999, 2000, 2001, 2002, 2003, 2004]

# q

2.In which year in years_list was your third birthday? Remember, you were 0 years of age for your
first year.

# ans

In [4]:
years_list[3]

2002

# q

3.In the years list, which year were you the oldest?

# ans

In [5]:
years_list[5]

2004

# q

4.Make a list called things with these three strings as elements: &quot;mozzarella&quot;, &quot;cinderella&quot;,
&quot;salmonella&quot;.

# ans

In [6]:
things = ["mozzarella", "cinderella", "salmonella"]
things

['mozzarella', 'cinderella', 'salmonella']

# q

5.Capitalize the element in things that refers to a person and then print the list. Did it change the
element in the list?

# ans

In [7]:
things

['mozzarella', 'cinderella', 'salmonella']

In [15]:
for i in range(len(things)):
    if things[i]=='cinderella':  
        things[i]=things[i].capitalize()
things

['mozzarella', 'Cinderella', 'salmonella']

# q

6.Make a surprise list with the elements &quot;Groucho,&quot; &quot;Chico,&quot; and &quot;Harpo.&quot;

# ans

In [16]:
surprise_list = ['Groucho','Chico','Harpo']
surprise_list

['Groucho', 'Chico', 'Harpo']

# q

7.Lowercase the last element of the surprise list, reverse it, and then capitalize it.

# ans

In [20]:
surprise_list[-1].lower()[::-1].capitalize()

'Oprah'

# q

8.Make an English-to-French dictionary called e2f and print it. Here are your starter words: dog is
chien, cat is chat, and walrus is morse.

# ans

In [21]:
e2f = {'dog':'chien','cat':'chat','walrus':"morse"}
e2f

{'dog': 'chien', 'cat': 'chat', 'walrus': 'morse'}

# q

9.Write the French word for walrus in your three-word dictionary e2f.

# ans

In [22]:
e2f['walrus']

'morse'

# q

10.Make a French-to-English dictionary called f2e from e2f. Use the items method.

# ans

In [25]:
e2f

{'dog': 'chien', 'cat': 'chat', 'walrus': 'morse'}

In [26]:
f2e={}
for key, value in e2f.items():
    f2e[value]=key
f2e

{'chien': 'dog', 'chat': 'cat', 'morse': 'walrus'}

# q

11.Print the English version of the French word chien using f2e.

# ans

In [27]:
f2e['chien']

'dog'

# q

12.Make and print a set of English words from the keys in e2f.

# ans

In [29]:
e2f

{'dog': 'chien', 'cat': 'chat', 'walrus': 'morse'}

In [31]:
tuple(e2f.keys())

('dog', 'cat', 'walrus')

# q

13.Make a multilevel dictionary called life. Use these strings for the topmost keys: &#39;animals&#39;, &#39;plants&#39;,
and &#39;other&#39;. Make the &#39;animals&#39; key refer to another dictionary with the keys &#39;cats&#39;, &#39;octopi&#39;, and
&#39;emus&#39;. Make the &#39;cats&#39; key refer to a list of strings with the values &#39;Henri&#39;, &#39;Grumpy&#39;, and &#39;Lucy&#39;.
Make all the other keys refer to empty dictionaries.

# ans

In [41]:
life = {
    'animals': {
        'cats':['Henri','Grumpy','Lucy'],
        'octopi':{},
        'emus':{},  },
    'plants':{},
    'other':{}  
}


life

{'animals': {'cats': ['Henri', 'Grumpy', 'Lucy'], 'octopi': {}, 'emus': {}},
 'plants': {},
 'other': {}}

# q

14.Print the top-level keys of life.

# ans

In [42]:
life.keys()

dict_keys(['animals', 'plants', 'other'])

# q

15.Print the keys for life[&#39;animals&#39;].

# ans

In [45]:
life['animals'].keys()

dict_keys(['cats', 'octopi', 'emus'])

# q

16.Print the values for life[&#39;animals&#39;][&#39;cats&#39;]

# ans

In [46]:
life['animals']['cats']

['Henri', 'Grumpy', 'Lucy']