# q

1.Write four functions that directly mutate a list:

1. repeat(lst, n): Repeat lst n times.

2. add(lst, x): Adds x to the end of the lst.

3. remove(lst, m, n): Removes all elements between indices m and n

inclusive in lst.

4. concat(lst, x): concatenates lst with x (another list).

Examples

lst = [1, 2, 3, 4]

repeat(lst, 3) ➞ [1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

add(lst, 1) ➞ [1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1]

remove(lst, 1, 12) ➞ [1]

concat(lst, [3, 4]) ➞ [1, 3, 4]

# ans

In [1]:
lst = [1, 2, 3, 4]

def repeat(inp):
    global lst
    lst = lst*inp
    return lst

def add(inp):
    global lst
    lst.append(inp)
    return lst

def remove(start,end):
    global lst
    for itm in lst[start:end+1]:
        lst.remove(itm)
    return lst

def concat(inp):
    global lst
    lst = lst+inp
    return lst

print(f'repeat(3) = {repeat(3)}')
print(f'add(1) = {add(1)}')
print(f'remove(lst, 1, 12) = {remove(1,12)}')
print(f'concat([3, 4]) = {concat([3, 4])}')

repeat(3) = [1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]
add(1) = [1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1]
remove(lst, 1, 12) = [1]
concat([3, 4]) = [1, 3, 4]

# q

2.The classic game of Mastermind is played on a tray on which the

Mastermind conceals a code and the Guesser has 10 tries to guess it. The

code is a sequence of 4 (or 6, sometimes more) pegs of different colors. Each

guess is a corresponding sequence of 4 (or more) pegs of different colors. A

guess is &quot;correct&quot; when the color of every peg in the guess exactly matches

the corresponding peg in the Mastermind&#39;s code.

After each guess by the Guesser, the Mastermind will give a score comprising

black &amp; white pegs, not arranged in any order:

- Black peg == guess peg matches the color of a code peg in the same
position.

- White peg == guess peg matches the color of a code peg in another
position.

Create a function that takes two strings, code and guess as arguments, and
returns the score in a dictionary.

- The code and guess are strings of numeric digits

- The color of the pegs are represented by numeric digits

- no &quot;peg&quot; may be double-scored

Examples

guess_score(&quot;1423&quot;, &quot;5678&quot;) ➞ {&quot;black&quot;: 0, &quot;white&quot;: 0}

guess_score(&quot;1423&quot;, &quot;2222&quot;) ➞ {&quot;black&quot;: 1, &quot;white&quot;: 0}

guess_score(&quot;1423&quot;, &quot;1234&quot;) ➞ {&quot;black&quot;: 1, &quot;white&quot;: 3}

guess_score(&quot;1423&quot;, &quot;2211&quot;) ➞ {&quot;black&quot;: 0, &quot;white&quot;: 2}

# ans

In [3]:
def guess_score(code,guess):
    result = {"black":0,"white":0}
    for itm in range(len(code)): 
        if code[itm] == guess[itm]:
            result['black'] += 1
        elif code[itm] in guess and itm != guess.index(code[itm]):
            result['white'] += 1
    print(f'guess_score{code,guess} = {result}')
        
guess_score("1423", "5678")
guess_score("1423", "2222")
guess_score("1423", "1234") 
guess_score("1423", "2211")

guess_score('1423', '5678') = {'black': 0, 'white': 0}
guess_score('1423', '2222') = {'black': 1, 'white': 0}
guess_score('1423', '1234') = {'black': 1, 'white': 3}
guess_score('1423', '2211') = {'black': 0, 'white': 2}

# q

3.Create a function that takes a list lst and a number N and returns a list of

two integers from lst whose product equals N.

Examples

two_product([1, 2, -1, 4, 5], 20) ➞ [4, 5]

two_product([1, 2, 3, 4, 5], 10) ➞ [2, 5]

two_product([100, 12, 4, 1, 2], 15) ➞ None

# ans

In [4]:
def two_product(inp_list,inp_numb):
    result = None
    for itm_1 in inp_list:
        for itm_2 in inp_list:
            if itm_1*itm_2 == inp_numb:
                result = sorted([itm_1,itm_2])
                break
    print(f'two_product({inp_list}) = {result}')
    
two_product([1, 2, -1, 4, 5], 20)
two_product([1, 2, 3, 4, 5], 10)
two_product([100, 12, 4, 1, 2], 15)

two_product([1, 2, -1, 4, 5]) = [4, 5]
two_product([1, 2, 3, 4, 5]) = [2, 5]
two_product([100, 12, 4, 1, 2]) = None

# q

4.In this challenge, sort a list containing a series of dates given as strings.

Each date is given in the format DD-MM-YYYY_HH:MM:

&quot;12-02-2012_13:44&quot;

The priority of criteria used for sorting will be:

- Year

- Month

- Day

- Hours

- Minutes

Given a list lst and a string mode, implement a function that returns:

- if mode is equal to &quot;ASC&quot;, the list lst sorted in ascending order.

- if mode is equal to &quot;DSC&quot;, the list lst sorted in descending order.

Examples

sort_dates([&quot;10-02-2018_12:30&quot;, &quot;10-02-2016_12:30&quot;, &quot;10-02-2018_12:15&quot;],

&quot;ASC&quot;) ➞ [&quot;10-02-2016_12:30&quot;, &quot;10-02-2018_12:15&quot;, &quot;10-02-
2018_12:30&quot;]

sort_dates([&quot;10-02-2018_12:30&quot;, &quot;10-02-2016_12:30&quot;, &quot;10-02-2018_12:15&quot;],

&quot;DSC&quot;) ➞ [&quot;10-02-2018_12:30&quot;, &quot;10-02-2018_12:15&quot;, &quot;10-02-
2016_12:30&quot;]

sort_dates([&quot;09-02-2000_10:03&quot;, &quot;10-02-2000_18:29&quot;, &quot;01-01-1999_00:55&quot;],

&quot;ASC&quot;) ➞ [&quot;01-01-1999_00:55&quot;, &quot;09-02-2000_10:03&quot;, &quot;10-02-
2000_18:29&quot;]

# ans

# q

5.Write a function that selects all words that have all the same vowels (in any

order and/or number) as the first word, including the first word.

Examples

same_vowel_group([&quot;toe&quot;, &quot;ocelot&quot;, &quot;maniac&quot;]) ➞ [&quot;toe&quot;, &quot;ocelot&quot;]

same_vowel_group([&quot;many&quot;, &quot;carriage&quot;, &quot;emit&quot;, &quot;apricot&quot;, &quot;animal&quot;]) ➞

[&quot;many&quot;]

same_vowel_group([&quot;hoops&quot;, &quot;chuff&quot;, &quot;bot&quot;, &quot;bottom&quot;]) ➞ [&quot;hoops&quot;, &quot;bot&quot;,

&quot;bottom&quot;]

# ans

In [5]:
def same_vowel_group(inp):
    vowels = ['a','e','i','o','u']
    lst = sorted(set([x for x in inp[0] if x in vowels]))
    result = []
    for itm in range(0,len(inp)):
        vowels_in_word = [x for x in inp[itm] if x in lst]
        if sorted(lst) == sorted(set(vowels_in_word)):
            result.append(inp[itm])
    print(f'same_vowel_group({inp}) = {result}')
    
same_vowel_group(["toe", "ocelot", "maniac"])
same_vowel_group(["many", "carriage", "emit", "apricot", "animal"])
same_vowel_group(["hoops", "chuff", "bot", "bottom"])

same_vowel_group(['toe', 'ocelot', 'maniac']) = ['toe', 'ocelot']
same_vowel_group(['many', 'carriage', 'emit', 'apricot', 'animal']) = ['many', 'carriage', 'apricot', 'animal']
same_vowel_group(['hoops', 'chuff', 'bot', 'bottom']) = ['hoops', 'bot', 'bottom']

# q

6.Create a function that takes a list of more than three numbers and returns

the Least Common Multiple (LCM).

Examples

lcm_of_list([1, 2, 3, 4, 5, 6, 7, 8, 9, 10]) ➞ 2520

lcm_of_list([13, 6, 17, 18, 19, 20, 37]) ➞ 27965340

lcm_of_list([44, 64, 12, 17, 65]) ➞ 2333760

# ans

In [6]:
import math

In [9]:
def lcm_of_list(inp):
    result = inp[0]
    for itm in range(1,len(inp)):
        result = (result*inp[itm])//math.gcd(result,inp[itm])
    print(f'lcm_of_list({inp}) = {result}')
    
lcm_of_list([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
lcm_of_list([13, 6, 17, 18, 19, 20, 37])
lcm_of_list([44, 64, 12, 17, 65])

lcm_of_list([1, 2, 3, 4, 5, 6, 7, 8, 9, 10]) = 2520
lcm_of_list([13, 6, 17, 18, 19, 20, 37]) = 27965340
lcm_of_list([44, 64, 12, 17, 65]) = 2333760