# q

1.Create a function that takes a list and string. The function should remove

the letters in the string from the list, and return the list.

Examples

remove_letters([&quot;s&quot;, &quot;t&quot;, &quot;r&quot;, &quot;i&quot;, &quot;n&quot;, 

&quot;g&quot;, &quot;w&quot;], &quot;string&quot;) ➞ [&quot;w&quot;]
remove_letters([&quot;b&quot;, &quot;b&quot;, &quot;l&quot;, &quot;l&quot;, &quot;g&quot;, 

&quot;n&quot;, &quot;o&quot;, &quot;a&quot;, &quot;w&quot;], &quot;balloon&quot;) ➞ [&quot;b&quot;, 
&quot;g&quot;,

&quot;w&quot;]

remove_letters([&quot;d&quot;, &quot;b&quot;, &quot;t&quot;, &quot;e&quot;, &quot;a&quot;, 
&quot;i&quot;], &quot;edabit&quot;) ➞ []

# ans

In [2]:
def remove_letters(inp_list,inp_string):
    copy = inp_list.copy()
    for item in inp_string:
        if item in inp_list:
            inp_list.remove(item)
    print(f'remove_letters{copy,inp_string} ➞ {inp_list}')

remove_letters(["s", "t", "r", "i", "n", "g", "w"], "string")
remove_letters(["b", "b", "l", "l", "g", "n", "o", "a", "w"], "balloon")
remove_letters(["d", "b", "t", "e", "a", "i"], "edabit")

remove_letters(['s', 't', 'r', 'i', 'n', 'g', 'w'], 'string') ➞ ['w']
remove_letters(['b', 'b', 'l', 'l', 'g', 'n', 'o', 'a', 'w'], 'balloon') ➞ ['b', 'g', 'w']
remove_letters(['d', 'b', 't', 'e', 'a', 'i'], 'edabit') ➞ []

# q

2.A block sequence in three dimensions. We can write a formula for this one:

Create a function that takes a number (step) as an argument and returns the

amount of blocks in that step.

Examples

blocks(1) ➞ 5

blocks(5) ➞ 39

blocks(2) ➞ 12

# ans

In [3]:
def blocks(inp):
    depth = inp * 3+((inp)-1) * 1
    height = [x for x in range(2,inp+2)]
    print(f'blocks({inp}) = {depth+sum(height)}')
        
blocks(1)
blocks(2)
blocks(3)
blocks(4)
blocks(5)

blocks(1) = 5
blocks(2) = 12
blocks(3) = 20
blocks(4) = 29
blocks(5) = 39

# q

3.Create a function that subtracts one positive integer from another, without

using any arithmetic operators such as -, %, /, +, etc.

Examples

my_sub(5, 9) ➞ 4

my_sub(10, 30) ➞ 20

my_sub(0, 0) ➞ 0

# ans

In [4]:
from operator import sub

In [6]:
def my_sub(inp_1,inp_2):
    res = sub(inp_1,inp_2) if inp_1 >= inp_2 else sub(inp_2,inp_1)
    print(f'my_sub{inp_1,inp_2} = {res}')
    
my_sub(5, 9)
my_sub(10, 30)
my_sub(0, 0)

my_sub(5, 9) = 4
my_sub(10, 30) = 20
my_sub(0, 0) = 0

# q

4.Create a function that takes a string containing money in dollars and

pounds sterling (seperated by comma) and returns the sum of dollar bills only,

as an integer.

For the input string:

- Each amount is prefixed by the currency symbol: $ for dollars and £ for

pounds.

- Thousands are represented by the suffix k.

i.e. $4k = $4,000 and £40k = £40,000

Examples

add_bill(&quot;d20,p40,p60,d50&quot;) ➞ 20 + 50 = 70

add_bill(&quot;p30,d20,p60,d150,p360&quot;) ➞ 20 + 150 = 170

add_bill(&quot;p30,d2k,p60,d200,p360&quot;) ➞ 2 * 1000 + 200 = 2200

# ans

In [7]:
def add_bill(inp):
    res = 0
    for item in inp.split(","):
        if 'd' in item:
            if 'k' in item:
                res += int(item.replace('d','').replace('k',''))*1000                
            else:
                res += int(item.replace("d",''))
    print(f'add_bill({inp}) = {res}')
    
add_bill("d20,p40,p60,d50")
add_bill("p30,d20,p60,d150,p360")
add_bill("p30,d2k,p60,d200,p360")

add_bill(d20,p40,p60,d50) = 70
add_bill(p30,d20,p60,d150,p360) = 170
add_bill(p30,d2k,p60,d200,p360) = 2200

# q

5.Create a function that flips a horizontal list into a vertical list, and a vertical

list into a horizontal list.

In other words, take an 1 x n list (1 row + n columns) and flip it into a n x 1 list

(n rows and 1 column), and vice versa.

Examples

flip_list([1, 2, 3, 4]) ➞ [[1], [2], [3], [4]]

 Take a horizontal list and flip it vertical.

flip_list([[5], [6], [9]]) ➞ [5, 6, 9]

 Take a vertical list and flip it horizontal.

flip_list([]) ➞ []

# ans

In [8]:
def flip_list(inp):
    if len(inp) > 0:
        res = [item[0] for item in inp] if isinstance(inp[0],list) else [[item] for item in inp]
    else:
        res = []
    print(f'flip_list({inp}) = {res}')
        
flip_list([1,2,3,4]) 
flip_list([[5],[6],[9]])
flip_list([])

flip_list([1, 2, 3, 4]) = [[1], [2], [3], [4]]
flip_list([[5], [6], [9]]) = [5, 6, 9]
flip_list([]) = []